<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 페이지</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="join_container">
        <div class="center">
            <form id="join_form" action="/joindb" method="post">
                <div class="line userch">
                    <!-- 아이디 -->
                    <label for="userid">아이디</label>
                    <input type="text" name="userid" id="userid">
                    <span></span>
                </div>
                <div class="line userch">
                    <!-- 비밀번호 -->
                    <label for="userpass">비밀번호</label>
                    <input type="text" name="userpass" id="userpass">
                    <span></span>
                </div>
                <div class="line userpassch">
                    <!-- 비밀번호 확인 -->
                    <label for="userpassch">비밀번호 확인</label>
                    <input type="text" name="userpassch" id="userpassch">
                    <span></span>
                </div>                
                <div class="line">
                    <!-- 닉네임 -->
                    <label for="usernick">닉네임</label>
                    <input type="text" name="usernick" id="usernick">
                    <span></span>
                </div>
                <div class="line userch">
                    <!-- 이메일 -->
                    <label for="usernick">이메일</label>
                    <input type="text" name="useremail" id="useremail">
                    <span></span>
                </div>
                <div class="line userch">
                    <!-- 전화번호 -->
                    <label for="usernick">전화번호</label>
                    <input type="text" name="userphone" id="userphone">
                    <span></span>
                </div>
                <!-- 비밀번호 확인 추가할것! -->

                <!-- <button type="submit" disabled="true">회원가입</button> -->
                <button class="joinBtn" type="submit">회원가입</button>
            </form>
        </div>
    </div>
    <script src="js/formcheck.js"></script>
</body>
</html>